*{
    margin: 0;
    padding: 0;
    
}

html, body{
    height: 100%;
    width: 100%;
    background-color: yellow;
}

.navBar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    /* position: relative; */
}

.left{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

}


.left a{
    text-decoration: none;
    color:black;
 
}




.logo{
    height: 100%;
    width:20%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;

}

.right i{
    font-size: 20px;
}

.leftnav{
    height: 200px;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 100px;
    /* transform: rotatex(45 deg);     */
    perspective: 300px;
    /* flex-direction: column; */
    /* display:none; */
}

.sanket a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
    /* background-color: yellow; */
    /* transform: rotatey(90deg); */
}
.middle a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;

}
.ram a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
}